.contact-container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.contact-boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.contact-box {
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  flex: 1;
  min-width: 200px;
}

.contact-icon {
  font-size: 2rem;
  color: #4a90e2;
  filter: drop-shadow(1px 1px 0px #00000044);
  stroke: #333;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 120px;
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-image {
  flex: 1;
  min-width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: 52%;
  /* height: auto; */
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
